body{
    font-family: monospace;
    text-align: center;
}

.secao-topo{
    background-color:#000;
    border: 1px solid #000;
    border-bottom: 1px solid #fff;
    text-align: center;
    height:80%;
}

.secao-topo a{
    font-size: 28px;
    text-decoration: none;
    margin: 0px 25px;
    color:white;
}


.secao-banner .imagem-fundo{
    background-image: url('imagens/capa.jpg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    width:100%;
}

.secao-sinopse{
    height: 45vh;
    max-width: 1526px;
}

.secao-sinopse h1{
    font-size: 32px;
    margin-top: 40px;
}

.secao-sinopse h2{
    font-size: 24px;
    margin: 15px auto;
}

.secao-sinopse p{
    font-size: 18px;
    text-align: justify;
    border: 1px solid #fff;
    margin: auto 180px;
    padding-top: 8px;
    line-height:30px;
}

.secao-canais{
    background-color: rgb(39, 14, 63);
    height: 100vh;
    text-align: center;
}

.secao-canais h1{
    font-size: 30px;
    color:#fff;
    padding-top: 30px;
}

.secao-canais img{
    margin: 45px auto 0px auto;
    box-shadow: -1px -1px 8px 6px #e7e3e3ed;
}

.secao-canais p{
    font-size:18px;
    text-align: center;
    color: #fff;
    margin: 60px 200px 0px 200px;
}

.secao-temporadas{
    width: 100%;
    height: 160vh;
}

.subcontainer{
    border: 1px solid #fff;
    border-radius: 8px;
    width: 80%;
    max-width: 900px;
    height: 14%;
    margin: 70px 250px auto 250px;
    padding: 8px;
    background-color: #eeeef6f9;
    box-shadow: 2px 2px 12px 8px #cac4c4;
    box-sizing: border-box;
}

.secao-temporadas h1{
   font-size: 28px;
    margin-top: 25px;
}


.secao-imagens{
    width: 100%;
    min-height:350px;
    max-height: 750px;
}

.subcontainer-imagens{
    border: 2px solid #000;
}

.subcontainer-imagens img{
}
